<div class="users">
  <h3>
    <%= link_to user.name, user %>
    <%= user.email %>
  </h3>
  <div class="actions">
    <%= link_to "Edit", edit_user_path(user) %> |
    <%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>
